#unityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}

#unityPlayer {
    height: 75vh;
    min-height: 600px;
    min-width: 320px;
}

@media only screen and (max-device-width: 680px) {
    #unityPlayer {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}